Source: remon
Section: unknown
Priority: optional
Maintainer: Florian Margaine <florian@margaine.com>
Build-Depends: debhelper (>= 9), dh-quicklisp-buildapp
Standards-Version: 3.9.6

Package: remon
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Remember the monitor layout and automatically apply it

Package: remon-service
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Service waiting for monitor plugs and unplugs.
